body{
    --nav: #000a0c;

    --less-bg: #337685;
    
    --sem-2: #155671;
    --sem-a: #237da3;
    --sem-b: var(--sem-a);
    --sgrp-1: #157b74;
    --sgrp-2: #a15e77;
    --pause: var(--tabhead);

    --back: #010c21;
    --back-fade: #010c2d;
    --fore: #185372;
    --tabhead: #024251;

    --nav-c: #1a5584;

    --horr: rgb(32, 134, 34);

    --empty: repeating-linear-gradient(
        to bottom right, 
        var(--tabhead) 49%, 
        black 50%, 
        var(--tabhead) 51%      
    );
        
    margin: 0;
    background-color: var(--back);
    max-width: 100dvw;
    max-height: 100dvh;
    position: relative;
    box-sizing: content-box;
}

/* .spec {
    --s: 120px; control the size
    --c1: black;
    --c2: var(--primary);
    
    --_g: #0000 52%,var(--c1) 54% 57%,#0000 59%; 
    background: 
    radial-gradient(farthest-side at -33.33% 50%,var(--_g)) 0 calc(var(--s)/2),
    radial-gradient(farthest-side at 50% 133.33%,var(--_g)) calc(var(--s)/2) 0,
    radial-gradient(farthest-side at 133.33% 50%,var(--_g)),
    radial-gradient(farthest-side at 50% -33.33%,var(--_g)),
    var(--c2);
    background-size: calc(var(--s)/4.667) var(--s),var(--s) calc(var(--s)/4.667);
}  */

header{
    position: relative;
    padding: 5px 2px;
    max-height: 10dvh;
    overflow: auto;
}

h1{
    text-align: center;
    color: var(--fore);
    background-color: #00000080;
    width: fit-content;
    margin-inline: auto;
    padding: 2px 10px;
    border-radius: 25px;
    
    font-size: 21px;
    font-family: 'Courier New', Courier, monospace;
}

.cursor-pointer{
    cursor: pointer;
}

#nav-open{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0.5px;
    width: 40px;
    height: 35px;
    box-sizing: border-box;
    text-align: center;
    transform: translateX(100%);
    background-color: var(--tabhead);
    padding: 5px;
    padding-right: 5px;
    border-radius: 0 12px 12px 0;
    border: 2px solid black;
    border-left: 0;
}

#nav-open>b{
    display: block;
    font-size: 16px;
    font-family: fantasy;
    font-weight: bold;
    scale: 1.2;
    color: var(--back);
    transition: 0.3s;
    transform: rotate(45deg);
}

main{
    width: 100dvw;
    height: 100dvh;
}

nav{
    position: absolute;
    width: 320px;
    max-width: calc(99% - 40px);
    height: 100dvh;
    max-height: 100dvh;
    background-color: var(--nav);
    color: var(--nav-c);
    top: 0;
    left: 0;
    border-bottom-right-radius: 25px;
    transform: translateX(-100%);
    z-index: 2;
    transition: 0.3s;
    margin: 0;
    border-right: 4px solid black;
    /* border-top: none; */
    padding: 40px 2px 20px;
    box-sizing: border-box;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

nav>div{
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: scroll;
}

h3{
    color: var(--back);
    background-color: var(--tabhead);
    font-size: 20px;
    height: 35px;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 2;
    border: 2px solid black;
    box-sizing: border-box;
    border-right: 0;
}

.divsem{
    text-align: center;
    /* margin: auto; */
    background-color: var(--back);
    width: 90%;
    border-radius: 0 0 12px 12px;
    border-radius: 19px;
    /* box-sizing: border-box; */
    border: 2px solid var(--back);
    border-top: 0px;
    transition: 0.3s;
    &:hover{
        border-color: var(--fore);
    }
}

nav ul, nav ol{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    font-weight: bold;
}

nav ul{
    width: 100%;
    height: 100%;
    max-height: 650px;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    min-height: 650px;
    overflow-y: scroll;

}

nav ol{
    width: 85%;
    gap: 4px;
    margin: auto;
    padding-bottom: 20px;
    box-sizing: border-box;
}

nav .divsem>ol>li{
    color: var(--back);
    border: 2px solid;
    box-sizing: border-box;
    width: calc(50% - 2px);
    font-size: 14px;
    font-family: monospace;
    transition: 0.3s;
}


nav ul>li, nav ul>.divsem>li, nav .divsem>ol>li{
    box-sizing: border-box;
    text-align: center;
    border-radius: 25px;
    padding: 5px;
}

nav ul>li, nav ul>.divsem>li{
    background-color: var(--back);
    width: 100%;
    padding: 5px 20px;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
}

nav ul>li{
    width: 90%;
    transition: 0.3s;
    box-sizing: border-box;
    background-color: var(--nav-c);
    color: var(--back);
    border: 2px solid var(--back);
    &:hover{
        background-color: var(--back);
        color: var(--nav-c);
        border-color: var(--nav-c);
    }
}

nav ul>.divsem>li{
    border-radius: 25px;
    margin-bottom: 10px;
    /* border: 2px solid; */
    border-top: 3px solid var(--back);
    transition: 0.3s;
    
}

#ramadan{
    position: relative;
    background-color: var(--horr);
    border: 2px solid var(--nav);
    color: var(--back);
    &:hover{
        background-color: var(--back);
        color: var(--horr);
        border-color: var(--horr);
        /* letter-spacing: 2px; */
    }
}

.tabframe{
    max-width: 97%;
    margin: auto;
    box-sizing: border-box;
    max-height: 88dvh;
    overflow: auto;
    margin: auto;
    border-radius: 10px;
    border: 3px solid;
}

#tabsemframe{
    width: 99%;
}

#tabjourframe{
    width: 500px;
}


::-webkit-scrollbar{
    width: 0;
    height: 0;
}
    
table{
    min-width: 100%;
    overflow-x: scroll;
    /* scale: 0.4; */
    background-color: black;
    width: 2000px;
    white-space: wrap;
    table-layout: fixed;
    border-collapse: collapse;
    border-radius: 10px;
}

#tabjour{
    width: 100%;
}

td{
    border: 3px solid black;
    padding: 2px 5px;
    border-radius: 10px;
    height: 100px;
}

td:has(.lesson){
    background-color: var(--less-bg);
    
}

.lesson{
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    background-color: transparent;
    justify-content: center;
    text-align: center;

    font-weight: bold;
}

.lesson>.nom{
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    font-family: monospace;
}

.lesson>.prof{
    font-size: 11px;
    color: var(--back);
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.lesson>.salle{
    font-size: 13px;
    position: absolute;
    bottom: 15%;
    transform: translateY(50%);
    /* font-family: cursive; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.lesson>.type{
    font-size: 12px;
    position: absolute;
    bottom: -2px;
    right: -5px;
    /* text-transform: uppercase; */
    border: 2px solid black;
    padding: 2px 7px;
    padding-left: 8px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 12.5px;
    /* transform: translateY(50%); */
    font-family: cursive, sans-serif;
    /* font-family:  sans-serif; */
}

.lesson>.type>i{
    font-size: 8px;
    position: absolute;
    top: -6.5px;
    left: -6.5px;
    background-color: black;
    color: white;
    padding: 2px;
    border-radius: 50%;
    transform: rotate(-30deg);
    font-family: monospace;
}

table .thd-corner{
    position: relative;
    background: linear-gradient(to bottom left, var(--tabhead) 49%, black 49%,black 50%, black 51%, var(--tabhead) 51%);
    font-size: 17px;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

table .thd-corner>#c1{
    position: absolute;
    top: 0;
    right: 5px;
}

table .thd-corner>#c2{
    position: absolute;
    bottom: 0;
    left: 5px;
}

.sa{
    background-color: var(--sem-a);
}

.sb{
    background-color: var(--sem-b);
}

.s2{
    background-color: var(--sem-2);
}

.sg1{
    background-color: var(--sgrp-1);
}

.sg2{
    background-color: var(--sgrp-2);
}

table .vd{
    background: var(--empty);
    background-size: 100px;
}

table .ps{
    position: relative;
    background-color: var(--pause);
    vertical-align: middle;
    width: 20px;
    height: fit-content;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

table .ps>div{
    position: absolute;
    top: 50%;
    left: 50%;
    justify-content: space-around;
    transform: translate(-50%, -50%) rotate(-90deg);
    white-space: nowrap;
    letter-spacing: 3px;
}

table .thd{
    background-color: var(--tabhead);
    text-align: center;
    height: 50px;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
